.service-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #e0e0e0; 
  border-radius: 8px;
  background-color: #fff; 
  max-width: 300px; 
  margin: 10px;
}

.icon-background {
  background-color: #e3f2fd; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.service-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #0A2A54; 
}

.service-title {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 8px;
  color: #0A2A54; 
  cursor: pointer;
}

.service-description {
  font-size: 0.95em;
  color: #555;
  margin-bottom: 16px;
  flex-grow: 1;
}

.service-card-actions {
  margin-top: auto; 
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


.admin-actions {
  display: flex;
  gap: 8px; 
}

