<mat-toolbar class="footer-toolbar">

    <div class="footer-section copyright-section">
      <mat-icon class="footer-icon">computer</mat-icon> <span class="copyright-text">© {{ currentYear }} Valenzo's PC. Todos los derechos reservados. </span>
    </div>
  
    <span class="spacer"></span>
  
    <nav class="footer-section links-section">
      <a href="#" class="footer-link">Términos de servicio</a>
      <a href="#" class="footer-link">Política de privacidad</a>
      <a href="#" class="footer-link">Envíos y devoluciones</a>
    </nav>

  </mat-toolbar>