<mat-toolbar class="footer-toolbar">

    <div class="footer-section copyright-section">
      <mat-icon class="footer-icon">computer</mat-icon> <span class="copyright-text">© {{ currentYear }} Valenzo's PC. All rights reserved.</span>
    </div>
  
    <span class="spacer"></span>
  
    <nav class="footer-section links-section">
      <a href="#" class="footer-link">Terms of Service</a>
      <a href="#" class="footer-link">Privacy Policy</a>
      <a href="#" class="footer-link">Shipping & Returns</a>
    </nav>
  
  </mat-toolbar>