<section class="contact-container">
    <div class="intro-text">
      <h2 class="section-title">Contáctanos</h2>
      <p class="section-description">
        ¿Tienes preguntas o necesitas ayuda? ¡Estamos aquí para ayudarte!
      </p>
    </div>
  
    <div class="contact-grid">
      <div class="info-column">
        <div class="info-block">
          <h3 class="info-title">Visítanos</h3>
          <p class="info-text">Sagitario #324 Col. Esmeralda</p>
          <p class="info-text">San Luis Potosí, México</p>
        </div>
        <div class="info-block">
          <h3 class="info-title">Horario de tienda</h3>
          <p class="info-text">Lunes - Viernes: 10am - 8pm</p>
          <p class="info-text">Sábado: 10am - 8pm</p>
          <p class="info-text">Domingo: Cerrado</p>
        </div>
        <div class="info-block">
          <h3 class="info-title">Información de contacto</h3>
          <p class="info-text">Teléfono: (+52) 444-179-0651</p>
          <p class="info-text">Correo electrónico: infovalenzospc.com</p>
        </div>
      </div>
  
      <div class="form-column">
        <div class="form-container">
          <h3 class="form-title">Envíanos un mensaje</h3>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field half-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Juan" formControlName="firstName">
                <mat-error *ngIf="contactForm.get('firstName')?.hasError('required') && contactForm.get('firstName')?.touched">
                  El nombre es obligatorio
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field half-width">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Pérez" formControlName="lastName">
                <mat-error *ngIf="contactForm.get('lastName')?.hasError('required') && contactForm.get('lastName')?.touched">
                  El apellido es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
  
            <mat-form-field appearance="outline" class="form-field full-width">
              <mat-label>Correo electrónico</mat-label>
              <input matInput type="email" placeholder="juanperez@example.com" formControlName="email">
               <mat-error *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched">
                 El correo electrónico es obligatorio
               </mat-error>
               <mat-error *ngIf="contactForm.get('email')?.hasError('email') && contactForm.get('email')?.touched">
                 Por favor, introduce una dirección de correo válida
               </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="form-field full-width">
              <mat-label>Mensaje</mat-label>
              <textarea matInput placeholder="Escribe tu mensaje aquí." formControlName="message" rows="4"></textarea>
              <mat-error *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched">
                El mensaje es obligatorio
              </mat-error>
            </mat-form-field>
  
            <button mat-flat-button color="accent" type="submit" class="submit-button" [disabled]="contactForm.invalid">
              Enviar mensaje
            </button>
          </form>
        </div>
      </div>
    </div>
</section>
