.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); /* Ajusta 64px si tu header tiene otra altura */
  padding: 20px;
  background-color: #f5f5f5; /* Un fondo suave */
}

mat-card {
  width: 100%;
  max-width: 400px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.submit-button {
  margin-top: 10px;
  padding: 10px 0;
}
.form-actions {
    padding-top: 16px;
}
.form-actions a {
    color: var(--mat-primary-500-contrast-text); /* O el color de tu tema primario */
    text-decoration: none;
}
.form-actions a:hover {
    text-decoration: underline;
}