<section class="hero-container">
    <div class="hero-content-grid">
      <div class="text-content">
        <h1 class="headline">
          Venta y Reparacion de Computadoras
        </h1>
        <p class="subheadline">
          Venta de computadoras industriales seminuevas en SLP, de las mejores marcas y al mejor precio.
        </p>
        <div class="button-group">
          <button mat-flat-button color="accent" class="cta-button"> <span>Buscar Productos</span>
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button mat-stroked-button class="secondary-button"> Hacer una reservacion
          </button>
        </div>
      </div>
      <div class="image-container">
        <img
          src="logo.png"  alt="Logo de ValenzosPC" width="400" height="400" class="hero-image" />
           </div>
    </div>
  </section>