<section class="hero-container">
    <div class="hero-content-grid">
      <div class="text-content">
        <h1 class="headline">
          Venta y Reparacion de Computadoras
        </h1>
        <p class="subheadline">
          Venta de computadoras industriales seminuevas en SLP, de las mejores marcas y al mejor precio.
        </p>

      </div>
      <div class="image-container">
        <img
          src="logo.png"  alt="Logo de ValenzosPC" width="400" height="400" class="hero-image" />
           </div>
    </div>
  </section>