.product-card-container {
    display: flex;
    background-color: rgb(12, 64, 154);
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }
  
  .product-card-header {
    padding-bottom: 8px; 
    color: #ffffff;
  }
  

  .header-icon {
    color: #00A878; 
    font-size: 40px; 
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-card-content {
    padding-top: 8px;
    padding-bottom: 8px;
    flex-grow: 1;
  }
  
  .product-image {
    display: block; 
    width: 100%; 
    max-height: 200px;
    object-fit: cover; 
    border-radius: 0.5rem; 
    margin-bottom: 1rem; 
  }
  
  /* Descripción */
  .product-description {
    font-size: 0.875rem; 
    color: #ffffff; 
  }
  
  
  .product-card-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px 16px !important; 
  }
  
  .product-price {
    font-weight: 700; 
    color: #ffffff;
  }
  
  .add-to-cart-button {
     background-color: #00A878 !important;
     color: white !important;
  }
  .add-to-cart-button:hover {
     background-color: #00858c !important;
  }

.product-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.action-buttons-wrapper {
  display: flex;
  gap: 8px; 
}

.edit-button mat-icon,
.add-to-cart-button mat-icon { 
  margin-right: 4px; 
}


